#navigation{
    font-weight: bold;
    font-size: 1rem;
}
#etoilejaune{
    color: gold;
}
#item-options{
    font-weight: bold;
    color: #a71d2a;
}

h1{
    color: #ed969e;
}

p{
    font-size: 0.8rem;
}