.fondRouge{
    background-color: red;
    height: 100px;
}

.fondBleu{
    Background-color: blue;
    height: 100px;
}
.fondJaune{
    background-color: yellow;
    height: 100px;
}
.fondVert{
    Background-color: lawngreen;
    height: 100px;
}