/* TestCSS.css */
/* Programmé par Sambath Pheakdey Bun */
/* Le 22 avril 2020 */

body
{
    background: url(../media/bebeyoda.jpg)
}
    width: 100%; /* On pourrait aussi prendre 100% de la largeur */
    margin: auto; /* pour centrer le site en largeur */
}

h1, h2
{
    color: #666666;
    color: rgb(255,0,0);
}

h1:hover{
    color:blue
}
h2
{
    font-size: 1em;
}
p
{text align

a:visited{
    color:green
}